[submodule "backend"]
    path = backend
    url = git://https://github.com/retr0mouse/backend.git

[submodule "frontend"]
    path = frontend
    url = git://https://github.com/retr0mouse/frontend.git